.testimonial-section{
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.swiper {
    width: 95vw;
    display: flex;
    justify-content: center;

}

.swiper-slide {
    display: flex;
    display: flex;
    justify-content: space-between;
}

@media (min-width:768) and (max-width: 1024){
    .swiper {
        /* width: 100vw; */
        border: 2px solid red;
    }
}