.testimonial-section {
    /* display: flex;
    flex-direction: column;
    gap: 4em;
    justify-content: center;
    align-items: center; */
    margin: 0 2em;
    padding: 1em 0;
}

.testimonial-cards {
    max-width: 100%;
}

.slick-slide>div{
    margin: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: .1em 0;
}

.slider-container{
    width: 80%;
    margin: 0 auto;
}