.hero--container {
    display: flex;
    height: 100%;
}

.hero-content {
    width: 60%;
    padding: 0 4em;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 2em;
    overflow-x: hidden;
}

.heading-container{
    display: flex;
    flex-direction: column;
}

.name-text {
    font-size: 3em;
}

.career-text {
    font-size: 1.435em;
    gap: .2em;
}


.name-text .dynamic-text {
    list-style: none;
    font-weight: 600;
    top: 0;
    color: #FD8A37;
    position: relative;
}

.pitch-section>p {
    font-size: 1.425em;
    color: #ACACAC;
    line-height: 1.5em;
}

.pitch-logos {
    display: flex;
    width: fit-content;
    gap: 1em;
    margin-left: 1em;
    align-items: center;
    justify-content: center;
}

.pitch-logos img{
    width:  1.7em;
    height: 1.7em;
    cursor: pointer;
    position: relative;
    display: block;
}

.pitch-logos img:hover::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.9);
    z-index: 3;
}

.buttons-container>button {
    font-size: 1.275em;
}

.buttons-container {
    width: 100%;
    display: flex;
    gap: .9em;
}

.pitch-section {
    display: flex;
    flex-direction: column;
    gap: 1.7em;
}

.contact-btn {
    color: #FD8A37;
}

.explore-btn {
    color: black;
    background-color: #FD8A37;
}

/* .explore-btn:active,
.contact-btn:active {
    background-color: #FD8A374f;
    color: #FD8A37;
} */

.hero-img {
    width: 40%;
}

.hero-img>img {
    height: 100%;
    width: 100%;
}


.nav-to {
    background-color: transparent;
}

@media  (min-width: 768px) and (max-width: 1024px) {
    .hero--container {
        background: url(../../../assets/hero.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
    }

    .hero-content{
        background: rgba(0,0,0,.4);
    }

    .hero-content>span,
    .pitch-section>p,
    .heading-container,
    .buttons-container,
    .heading-container>span
    {
        background: rgba(0,0,0,.0);
    }

    .hero-content {
        margin: 10em 0;
        height: fit-content;
    }
    
    
    .pitch-section--intro {
        font-size: 4em;

    }

    .heading-container{
        width: fit-content;
    }
    .hero-img {
        display: none;
    }

    .hero-content {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .hero--container {
        background: url(../../../assets/hero.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .hero-content{
        background: rgba(0,0,0,.6);
    }

    .hero-content>span,
    .pitch-section>p,
    .heading-container,
    .buttons-container,
    .heading-container>span
    {
        background: rgba(0,0,0,.0);
    }

    .hero-content {
        margin: 5em 0 2em 0;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .name-text {
        font-size: 2em;
    }

    .career-text {
        font-size: 1.3em;
        justify-content: center;
        display: flex;
    }
    
    .pitch-section {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .pitch-section>p {
        font-size: 1em;
        color: #ACACAC;
        line-height: 1.5em;
    }
    
    .buttons-container {
        justify-content: center;
    }

    .buttons-container>button {
        font-size: .9em;
    }

    .heading-container{
        width: fit-content;
        gap: .4em;
    }
    .hero-img {
        display: none;
    }

    .hero-content {
        width: 100%;
        padding: 1em;
    }
}