.home-nav {
    display: flex;
    width: fit-content;
    z-index: 3;
    position: fixed;
    padding: 0 30px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 2em;
}

.home-nav .home-nav--link{
    padding: .5em 1.5em;
    background: rgba(0, 0, 0, 0.0);
}

.home-nav--link:hover{
    cursor: pointer;
    color: #FD8A37;
}

.home-nav .home-nav--link-active{
    color: #FD8A37;
    border-bottom: #FD8A37 solid 3px;
}

.mobile-nav{
    display: none;
}

@media (max-width: 425px){
    .home-nav{
        display: none;
    }

    .mobile-nav {
        display: flex;
        width: fit-content;
        gap: 2em;
        z-index: 3;
        position: fixed;

        padding: 10px 30px;
        border-radius: 50px;
        background: rgba(0, 0, 0, 0.7);
        bottom: 0;
        margin-bottom: 3.2em;
    }

    .mobile-nav .home-nav--link img {
        width:  30px;
        height: 30px;
    }
}