.skills-section{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
    position: relative;
}

.skills-section>div{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.skills-section>div>label{
    text-align: center;
}


.skill-image{
    width:  70px;
    height: 70px;
    object-fit: contain;
}

@keyframes slide {
    from {
        transform: translatex(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@media (max-width:767px){
    .skills-section{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: .3em;
    }
    
    .skill-card {
        align-items: center;
        justify-content: center;
    }
    
}