.skills-section{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 4em 0;
    animation: 30s slide infinite linear;
    position: relative;
}

.skills-section>div{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.skills-section>div>label{
    text-align: center;
}

.skills-section:hover{
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translatex(0);
    }

    to {
        transform: translateX(-100%);
    }
}