.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 4em;
    gap: 3em;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.form small{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.success{
    color: rgb(11, 167, 11);
}

.fail{
    color: rgb(255, 0, 0);
}

.form small img{
    width:  18px;
    height: 18px;
}

.form>button{
    width: 10em;
    padding: .5em;
    background-color: white;
    color: black;
    border: white 1px solid;
    margin-left: 8em;
}

.ellipsis-container {
    background: rgba(0,0,0,.0);
    display: flex;
    justify-content: center;
    gap: 3px;
}

.ellipsis {
    background: #000000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: 1.5s infinite ease-in-out loading;
}

.ellipsis:nth-child(1){
    animation-delay: .32s;
}

.ellipsis:nth-child(2){
    animation-delay: .16s;
}


@keyframes loading {
    0%, 80%, 100%{
        transform: scale(0);
    }

    40%{
        transform: scale(1);
    }
}

.form>div>label {
    display: flex;
    align-items: start;
    gap: 2em;
}

.form>div>label>textarea {
    resize: none;
    overflow: auto;
    height: 15em;
}

.form>div>label>input, .form>div>label>textarea {
    width: 40em;
    padding: 1em 2px;
    border: 1px solid white;
    border-radius: 10px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: start;
    width: 100%;
}

.contact-apps{
    display: flex;
    gap: 1em;
}

.contact-apps>img{
    height: 30px;
    cursor: pointer;
}

@media (min-width:768px) and (max-width:1024px) {
    .contact-section{
        margin: 5em 2em;
    }
}

@media (max-width:767px) {

    .contact-section{
        margin: 0em 1em;
    }

    .form {
        width: 100%;
        margin-bottom: 20px;
    }

    .form>div>label {
        display: flex;
        flex-direction: column;
    }

    .form>div>label>input, .form>div>label>textarea {
        width: 100%;
        border: 1px solid white;
        border-radius: 10px;
    }

    .form>button{
        margin-left: 0;
    }
}