.project-card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    background: rgb(24, 23, 23);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    max-width: 350px;
    position: relative;
}

.project-card img{
    object-fit: cover;
    border-radius: 10px;
    height: 200px;
}

.card-img-view{
    border-radius: 10px;
    height: 200px;
    width: 100%;
}

.project-card-details, .project-card-details>p, .project-card-details>small {
    background-color: rgba(0, 0, 0, .0);
}

.project-card-details>small {
    margin: 0 .5em;
}

.project-card-details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.project-card-details button {
    border: none;
    background: rgba(0, 0, 0, .0);
    padding: 0;
    width: fit-content;
}

.tech-container {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin-left: 1em;
    background: rgba(0, 0, 0, .0);
    gap: 10px;
}

.project-technologies {
    width: fit-content;
    background:  rgba(0, 0, 0, .0);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.project-card-details button img,
.project-technologies>img {
    height: 1.5em;
}

.project-technologies>img {
    background-color: rgba(0, 0, 0, .0);
}

.project-technologies>small {
    background-color: rgba(0, 0, 0,.7);
    padding: 3px 6px;
    border-radius: 3px;
    position: absolute;
    top: 2em;
    visibility: hidden;
}

.project-technologies:hover small {
    visibility: visible;
    translate: visibility .3s ease-in-out;
}

.current-banner {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #fd8937d5;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: smaller;
    font-weight: 400;
}

@media (max-width:768px){
    .project-card {
        max-width: 285px;
    }
}

